---
title: Contact Us
permalink: /contact/
layout: null
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="contact">
    <section class="page-header wo">
        <h1 class="col-2-to-7 m-col-1-to-9 s-col-1-to-5 h1 editable">
            Contact Us
        </h1>

        <div class="col-1-to-13 m-col-1-to-9 s-col-1-to-5 wo pv200 page-header__intro">
            <h2 class="h2 col-2-to-12 m-col-1-to-9 s-col-1-to-5 editable">
                <strong>Wherever you are on the EV journey, we&rsquo;d love to connect to see if we can help you accelerate your plans.</strong>
            </h2>
            <div class="editable col-2-to-6 m-col-1-to-5 s-col-1-to-5">
                <p>x</p>
            </div>
            <div class="editable col-6-to-10 m-col-5-to-9 s-col-1-to-5">
                <p>x</p>
            </div>
        </div>
    </section>

    <section class="contact-form wo">
        <form method="post" action="/message-sent/" class="wo pv100 col-3-to-11 m-col-1-to-9 s-col-1-to-5">
            <h2 class="h2 editable col-2-to-12 m-col-2-to-8 s-col-1-to-5">
                Get in touch today.
            </h2>

            <div class="col-2-to-12 m-col-2-to-8 s-col-1-to-5">
                <label>
                    <span class="label">Your Name</span>
                    <input type="text" name="name" />
                </label>
            </div>
    
            <div class="col-2-to-12 m-col-2-to-8 s-col-1-to-5">
                <label>
                    <span class="label">Your Email Address</span>
                    <input type="text" name="email" />
                </label>
            </div>
    
            <div class="col-2-to-12 m-col-2-to-8 s-col-1-to-5">
                <label>
                    <span class="label">Your Message</span>
                    <textarea name="message" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. ."></textarea>
                </label>
            </div>
    
            <input type="hidden" name="_to" value="support@manoverboard.com" />
            <input type="text" name="_gotcha" style="display: none;" />
    
            <div class="col-2-to-12 m-col-2-to-8 s-col-1-to-5 center">
                <button class="button button--round" type="submit">Submit Message</button>
            </div>
        </form>  
    </section>

</main>

{% include footer.html %}
