---
title: Home
permalink: /
layout: null
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="home">

    <section class="home-hero wo">
        <div class="home-hero__content col-1-to-7">
            <h1 class="editable">Accelerating the EV transition</h1>
            <p class="editable large">
                Inspiration invests in, develops, and manages the real assets that enable the EV transition
                for fleet operators.
            </p>
            <a class="editable home-hero__content__button" href="/">Get motoring</a>
        </div>
        <div class="home-hero__image col-7-to-13">
            <img class="editable" src="/../assets/images/placeholder.jpg" alt="">
        </div>
    </section>

    <section class="home-intro wo">
        <h2 class="editable col-2-to-11">
            Avoid the speed bumps on the road to fleet electrification. We’ll help you navigate the course from start to
            finish and beyond.
        </h2>
        <div class="editable col-2-to-7">
            <p>
                Inspiration invests in, develops, and manages the real assets that enable the EV transition for fleet
                operators.
            </p>
            <p>
                We are the only partner you need to configure and optimize all of the elements that result in a successful
                and profitable EV deployment, including vehicle selection, charging strategy, infrastructure development,
                energy supply and more.
            </p>
        </div>

        <a class="button editable col-2-to-7" href="/">Check under our hood</a>
    </section>
</main>

{% include footer.html %}