---
title: Home
permalink: /
layout: null
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="home">

    <section class="home-hero wo">
        <div class="home-hero__content col-1-to-7">
            <h1>Accelerating the EV transition</h1>
            <p class="large">Inspiration invests in, develops, and manages the real assets that enable the EV transition
                for fleet operators.</p>
        </div>
        <div class="home-hero__image col-7-to-13">
            <img src="/../assets/images/placeholder.jpg" alt="">
        </div>
    </section>

</main>

{% include footer.html %}