---
layout:
title: Home
permalink: /
featured_image: /uploads/mark-basarab-z8ct_Q3oCqM-unsplash.jpg
featured_image_alt_text: You can see down a highway edged with trees, there's a snowy mountain.
hide_testimonials: false
hide_stats: false
hide_news: false
custom_latest_posts: false
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="home">

    <section class="home-hero wo">
        <div class="home-hero__content col-1-to-7 m-col-1-to-5 s-col-1-to-5">
            <h1 class="editable">
                Accelerating the EV transition&trade;
            </h1>
            <p class="editable large">
                Inspiration invests in, develops, and manages the real assets that enable the EV transition for fleet operators.
            </p>
            <!-- <a class="editable home-hero__content__button" href="/contact/">Get rolling</a> -->
            <a class="button button--round editable" style="font-size: 250%; text-transform: uppercase; text-decoration: none;" href="/about/">Check inside our trunk</a>

        </div>
        <div class="home-hero__image col-7-to-13 m-col-5-to-9 s-col-1-to-5">
            <img src="{{ page.featured_image }}" alt="{{ page.featured_image_alt_text }}" />
        </div>
    </section>

    <section class="home-intro wo pv200">
        <h2 class="editable h2 col-2-to-8 m-col-2-to-9 s-col-1-to-5">
            Avoid the speed bumps on the road to fleet electrification. We&rsquo;ll help you navigate the course from start to finish and beyond.
        </h2>
        <div class="editable col-2-to-7 m-col-2-to-8 s-col-1-to-5">
            <p>Inspiration is a purpose-built investment and infrastructure company advancing the electric vehicle (EV) transition. We partner with fleet businesses to finance, build, own and operate the real assets that enable a rapid and profitable deployment of electric vehicles. Whether converting an existing internal combustion engine (ICE) fleet or scaling an emerging EV-only business, having an aligned partner without ties to a specific product, technology, or financial structure allows you to pursue a strategy tailored to your unique needs, rather than what a vendor wants to sell. As your partner, we design and implement a custom solution that ensures your EV initiative is seamless. Whether you require a complete fleet-as-a-service solution or support with one or two key elements such as vehicle financing or charging, Inspiration can help.</p>
        </div>
        <img class="editable col-8-to-12 m-hide s-hide" style="grid-row-start: 1; grid-row-end: 3;" src="/uploads/Inspiration-Illustrations-homepage.svg" alt="" />

        <a class="button button--round editable col-2-to-7 m-col-2-to-7 s-col-1-to-5" href="/contact/">Get rolling</a>

        {% if page.hide_stats %}
        <div class="home-intro__stat pv200 col-2-to-6 m-col-1-to-5 s-col-1-to-5">
            <h3 class="editable">
                3, 192
            </h3>
            <p class="editable">
                Lorem ipsum dolor sit amet
            </p>
        </div>

        <div class="home-intro__stat pv200 col-6-to-10 m-col-5-to-9 s-col-1-to-5">
            <h3 class="editable">
                89%
            </h3>
            <p class="editable">
                Lorem ipsum dolor sit amet
            </p>
        </div>
        {% endif %}
    </section>

    {% if page.hide_testimonials %}
    <section class="home-testimonials pv200 white">
        <div class="wo-full">
            <div class="col-1-to-13 m-col-1-to-7 s-col-1-to-5">
                <h2 class="h2 editable">
                    Hear what others are saying.
                </h2>
            </div>
        </div>

        <div class="home-testimonials__slider">
            <!-- https://accessible360.github.io/accessible-slick/#getting-started -->
            {% for testimonial in site.testimonials %}
            <div>
                <img src="{{ testimonial.image }}" alt="" />
                <h3 class="h4">{{ testimonial.their_name }}</h3>
                <h4 class="h5">{{ testimonial.their_title }}</h4>
                <blockquote>
                    {{ testimonial.testimonial_text }}
                </blockquote>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if page.hide_news %}
    <section class="home-latest-news wo pv200 white">
        <h2 class="h2 editable col-1-to-9 m-col-1-to-7 s-col-1-to-5">
            Get up to speed on our latest news.
        </h2>
        <a class="button button--round col-9-to-13 m-col-7-to-9 s-col-1-to-5" href="/news/">All news</a>
        {% if page.custom_latest_posts %}

        {% assign featuredPosts = site.posts | where: "featured_post", "true" %}
        {% for post in featuredPosts limit: 3 %}
        <a href="{{ post.url }}" class="home-latest-news__article s-col-1-to-5">
            <p class="eyebrow">{{ post.date | date: "%b %e %Y" }}</p>
            <!-- loop through post categories -->
            <h3 class="h5">{{ post.title }}</h3>
            <p class="button button--line" aria-hidden="true">Read article</p>
        </a>
        {% endfor %}

        {% else %}
        {% for post in site.posts limit: 3 %}
        <a href="{{ post.url }}" class="home-latest-news__article s-col-1-to-5">
            <p class="eyebrow">{{ post.date | date: "%b %e %Y" }}</p>
            <!-- loop through post categories -->
            <h3 class="h5">{{ post.title }}</h3>
            <p class="button button--line" aria-hidden="true">Read article</p>
        </a>
        {% endfor %}

        {% endif %}
    </section>
    {% endif %}

    {% include cta.html %}
</main>

{% include footer.html %}
