---
layout: archive
title: News
---

<section class="news-feed wo pv200">
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
		{% include archives-inner.html %}
	{% endfor %}
</section>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="wo pv100 pagination">
	{% if paginator.previous_page %}
	<div class="col-1-to-6 m-col-1-to-5 s-col-1-to-3">
		<a href="{{ paginator.previous_page_path }}" class="button button--round">Previous Page</a>
	</div>
	{% endif %}

	{% if paginator.next_page %}
	<div class="col-6-to-13 m-col-5-to-11 s-col-3-to-5 right">
		<a href="{{ paginator.next_page_path }}" class="button button--round">Next Page</a>
	</div>
	{% endif %}
</div>
{% endif %}
