---
layout: archive
title: News
---

<section class="news-feed wo">
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	<article class="col-1-to-12">
		{{ post.featured-image }}
		<div class="news-feed--grid">
			<p>{{ post.date }}</p>
			<!-- loop through post categories -->
			<div>
				{% for category in post.categories %}
					<a href="{{ post.url}}/{{category}}">
						{{ category }}
					</a>
				  {% endfor %}
			</div>
			<h2>{{ post.title }}</h2>
			<a href="{{ post.url }}">read article</a>
		</div>
	</article>
	{% endfor %}
</section>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="wo pagination">
	{% if paginator.previous_page %}
	<div class="col-1-to-6 m-col-1-to-5 s-col-1-to-3">
		<a href="{{ paginator.previous_page_path }}" class="button button--light">Previous</a>
	</div>
	{% endif %}

	{% if paginator.next_page %}
	<div class="col-6-to-13 m-col-5-to-11 s-col-3-to-5 right">
		<a href="{{ paginator.next_page_path }}" class="button">Next</a>
	</div>
	{% endif %}
</div>
{% endif %}
