<article class="col-1-to-13 m-col-1-to-8 s-col-1-to-5">
    <img src="{{ post.featured_image }}" alt="">
    <div class="news-feed--grid">
        <p class="eyebrow">{{ post.date | date: "%b %e %Y" }}</p>
        <!-- {{ post.date | date_to_string | upcase }} -->
        <!-- loop through post categories -->
        <div>
            {% for category in post.categories %}
                <a href="/{{category | slugify: "latin"}}" class="eyebrow">
                    {{ category }}
                </a>
              {% endfor %}
        </div>
        <h2 class="h2">{{ post.title }}</h2>
        <div class="button button--line">
            <a href="{{ post.url }}">read article</a>
        </div>
    </div>
</article>