<article>
    {% if post.featured_image.logo == true %}
    <div class="news-feed__logo">
        <img src="{{ post.featured_image.image }}" alt="{{ post.featured_image.alt_text }}">
    </div>
    {% else %}
    <img src="{{ post.featured_image.image }}" alt="{{ post.featured_image.alt_text }}">
    {% endif %}
    <a href="{{ post.url }}">
        <p class="news-feed__date eyebrow">{{ post.date | date: "%b %e %Y" }}</p>
        {% for category in post.categories limit:1 %}
        <p class="news-feed__cats"> {{ category }}</p>
        {% endfor %}
        <h2 class="h5">{{ post.title }}</h2>
        <p class="button button--line" aria-hidden="true">Read article</p>
    </a>
</article>

