<footer id="mainFooter" class="main-footer wo-full">
    <div class="main-footer__logo col-1-to-5">
        <img src="{{ site.url }}/assets/images/inspiration-white.svg" alt="Inspiration Logo" />
    </div>

    <div class="main-footer__newsletter col-5-to-13">
        <h2 class="h3 editable">Sign up for our newsletter.</h2>
        <!--
        <input type="text" name="email" placeholder="jondoe@mail.com" autocomplete="email">
        <input class="button" type="submit" value="Submit"> -->
    </div>

    <div class="main-footer__social-media col-1-to-5">
        <a href="/"><img src="{{ site.url }}/assets/images/twitter.svg" alt="Twitter"></a>
        <a href="/"><img src="{{ site.url }}/assets/images/linkedin.svg" alt="LinkedIn"></a>
    </div>

    <nav id="footerNav" class="main-footer__nav col-5-to-13 wo">
        <div class="col-1-to-4">
            <h2>
                <a href="/">About</a>
            </h2>
            <a href="/">Who we are</a>
            <a href="/careers">Careers</a>
        </div>
        <div class="col-4-to-7">
            <h2>
                <a href="/">Solutions</a>
            </h2>
            <a href="/">For fleets</a>
            <a href="/">For investors</a>
            <a href="/">For partners</a>
        </div>
        <div class="col-7-to-10">
            <h2>
                <a href="/">Resources</a>
            </h2>
            <a href="/">Whitepaper</a>
            <a href="/">Reports</a>
        </div>
        <div class="col-10-to-13">
            <h2>
                <a href="/news">News</a>
            </h2>
            <a href="/contact">Contact</a>
            <a href="/">Careers</a>
            <a href="/">Login</a>
        </div>
    </nav>

    <div class="main-footer__small col-5-to-13">
        <small class="editable">© 2021 Inspiration </small>  |  
        <a class="editable" href="/privacy/">Privacy</a>  |  
        <a class="editable" href="/accessibility/">Accessibility</a>
    </div>
</footer>
