<footer id="mainFooter" class="main-footer wo-full">
    <div class="main-footer__logo col-1-to-5 m-col-1-to-3 s-col-1-to-5">
        <img class="editable" src="https://fern-anvil.cloudvent.net/assets/images/inspiration-white.svg" alt="Inspiration Logo" />
    </div>

    <!-- <div class="main-footer__newsletter col-5-to-13 m-col-4-to-9 s-col-1-to-5">
        <h2 class="h3 editable">
            Sign up for our newsletter.
        </h2>
        
        <input type="text" name="email" placeholder="jondoe@mail.com" autocomplete="email">
        <input class="button" type="submit" value="Submit"> 
    </div> -->


    <nav id="footerNav" class="main-footer__nav col-5-to-13 m-col-2-to-9 s-col-1-to-5 wo">
        <div class="main-footer__links col-1-to-10 m-col-3-to-9 s-col-1-to-5">
        {% for navItem in site.data.footer_navigation %}
            <h2>
                <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                    {{ navItem.title }}
                </a>
            </h2>
        {% endfor %}
        </div>
    </nav>

    <div class="main-footer__social-media col-1-to-5 m-col-1-to-4 s-col-1-to-5">
        {% for socialMedia in site.data.social_media %}
            <a href="{{ socialMedia.url }}"><img src="{{ socialMedia.image }}" alt="{{ socialMedia.social_media }}" /></a>
        {% endfor %}
    </div>

    <div class="main-footer__small col-5-to-9 m-col-1-to-4 s-col-1-to-5">
        <small class="editable">© 2021 Inspiration </small>  <span>|</span>  
        <a class="editable" href="/privacy/">Privacy</a>  |  
        <a class="editable" href="/accessibility/">Accessibility</a>
    </div>

    <address class="main-footer__address col-11-to-13 m-col-4-to-9 s-col-1-to-5">
        <p class="editable">
            1625 Eye Street NW, Suite 200
        </p>
        <p class="editable">
            Washington, DC 20006
        </p>
        <p class="editable">
            202-650-0858
        </p>
        <p class="editable">
            <a href="javascript:window.location.href = 'mailto:' + ['info','inspirationmobility.com'].join('@')">info<!---->@<!---->inspirationmobility.com</a>
        </p>
    </address>

</footer>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
