<footer id="mainFooter" class="main-footer wo-full">
    <div class="main-footer__logo col-1-to-5 m-col-1-to-3 s-col-1-to-5">
        <img class="editable" src="{{ site.url }}/assets/images/inspiration-white.svg" alt="Inspiration Logo" />
    </div>

    <div class="main-footer__newsletter col-5-to-13 m-col-4-to-9 s-col-1-to-5">
        <h2 class="h3 editable">Sign up for our newsletter.</h2>
        <!--
        <input type="text" name="email" placeholder="jondoe@mail.com" autocomplete="email">
        <input class="button" type="submit" value="Submit"> -->
    </div>

    <div class="main-footer__social-media col-1-to-5 m-col-1-to-2 s-col-1-to-5">
    {% for socialMedia in site.data.social_media %}
        <a href="{{ socialMedia.url }}"><img src="{{ socialMedia.image }}" alt="{{ socialMedia.social_media }}" /></a>
    {% endfor %}
    </div>

    <nav id="footerNav" class="main-footer__nav col-5-to-13 m-col-2-to-9 s-col-1-to-5 wo">
        <div class="col-1-to-4 m-col-1-to-3 s-col-1-to-3">
        {% for navItem in site.data.footer_navigation.first_column | limit: 1 %}
            <h2>
                <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                    {{ navItem.title }}
                </a>
            </h2>
        {% endfor %}
        {% for navItem in site.data.footer_navigation.first_column | offset: 1 %}
            <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                {{ navItem.title }}
            </a>
        {% endfor %}
        </div>
        <div class="col-4-to-7 m-col-3-to-5 s-col-3-to-5">
            {% for navItem in site.data.footer_navigation.second_column | limit: 1 %}
            <h2>
                <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                    {{ navItem.title }}
                </a>
            </h2>
        {% endfor %}
        {% for navItem in site.data.footer_navigation.second_column | offset: 1 %}
            <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                {{ navItem.title }}
            </a>
        {% endfor %}
        </div>
        <div class="col-7-to-10 m-col-5-to-7 s-col-1-to-3">
            {% for navItem in site.data.footer_navigation.third_column | limit: 1 %}
            <h2>
                <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                    {{ navItem.title }}
                </a>
            </h2>
        {% endfor %}
        {% for navItem in site.data.footer_navigation.third_column | offset: 1 %}
            <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                {{ navItem.title }}
            </a>
        {% endfor %}
        </div>
        <div class="col-10-to-13 m-col-7-to-9 s-col-3-to-5">
            <h2 class="sr-only">Other Links</h2>
            {% for navItem in site.data.footer_navigation.fourth_column %}
            <a class="main-header__nav__link{% if pagePermalink == subItem.url %} active{% endif %}" href="{{ navItem.url }}">
                {{ navItem.title }}
            </a>
        {% endfor %}
        </div>
    </nav>

    <div class="main-footer__small col-5-to-13 m-col-1-to-9 s-col-1-to-5">
        <small class="editable">© 2021 Inspiration </small>  |  
        <a class="editable" href="/privacy/">Privacy</a>  |  
        <a class="editable" href="/accessibility/">Accessibility</a>
    </div>
</footer>
