<section class="general-content general-content--2-col wo pv200">
    <div class="col-2-to-7">
        <h3>An electrifying force</h3>
        <p>About 50 new EVs are entering the marketplace
            in 2022. The Biden administration is phasing out gas-powered vehicles for
            federal government fleets in favor of EVs and is introducing a system of
            rebates and incentives for replacing gas cars with electric.</p>
        <p>How
            effectively and efficiently commercial and corporate fleet operators
            transition to EVs will define whether they thrive through this technology
            disruption.</p>
        <p>Transitioning now to EVs for your fleet is a smart
            investment that comes with tangible returns:</p>
    </div>
    <div class="col-7-to-12">
        <h3>An electrifying force</h3>
        <p>About 50 new EVs are entering the marketplace
            in 2022. The Biden administration is phasing out gas-powered vehicles for
            federal government fleets in favor of EVs and is introducing a system of
            rebates and incentives for replacing gas cars with electric.</p>
        <p>How
            effectively and efficiently commercial and corporate fleet operators
            transition to EVs will define whether they thrive through this technology
            disruption.</p>
        <p>Transitioning now to EVs for your fleet is a smart
            investment that comes with tangible returns:</p>
    </div>
</section>