<section class="general-content wo pv">
    <div class="col-4-to-10">
        <h3>An electrifying force</h3>
        <p>About 50 new EVs are entering the marketplace
            in 2022. The Biden administration is phasing out gas-powered vehicles for
            federal government fleets in favor of EVs and is introducing a system of
            rebates and incentives for replacing gas cars with electric.</p>
        <p>How
            effectively and efficiently commercial and corporate fleet operators
            transition to EVs will define whether they thrive through this technology
            disruption.</p>
        <p>Transitioning now to EVs for your fleet is a smart
            investment that comes with tangible returns:</p>
        <ul>
            <li>Extended vehicle
                lifecycle</li>
            <li>Lower maintenance costs</li>
            <li>Generous federal, state, and
                municipal purchasing incentives</li>
            <li>Maintaining brand relevance as
                consumers demand more sustainable vehicle choices</li>
        </ul>
    </div>
</section>