<section class="general-content wo pv">
    <div class="col-4-to-10">
        <h3>An electrifying force</h3>
        <p>About 50 new EVs are entering the marketplace
            in 2022. The Biden administration is phasing out gas-powered vehicles for
            federal government fleets in favor of EVs and is introducing a system of
            rebates and incentives for replacing gas cars with electric.</p>
        <p>How
            effectively and efficiently commercial and corporate fleet operators
            transition to EVs will define whether they thrive through this technology
            disruption.</p>
        <p>Transitioning now to EVs for your fleet is a smart
            investment that comes with tangible returns:</p>
        <ul>
            <li>Extended vehicle
                lifecycle</li>
            <li>Lower maintenance costs</li>
            <li>Generous federal, state, and
                municipal purchasing incentives</li>
            <li>Maintaining brand relevance as
                consumers demand more sustainable vehicle choices</li>
        </ul>
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
            Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu
            pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius,
            adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus
            ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel,
            nisl.
        </p>
    </div>
</section>