<section class="logo-section pv100">
    <div class="wo pv200-p">
        <h2 class="h2 col-4-to-10 m-col-2-to-8 s-col-1-to-5 center">
            Move to the inside lane with Inspiration.
        </h2>
        <p class="col-4-to-10 m-col-2-to-8 s-col-1-to-5 center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
        </p>
    
        <div class="logo-section__logos col-2-to-12 m-col-1-to-9 s-col-1-to-5 center">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
            <img src="/assets/images/inspiration-white.svg" alt="Alt text here">
        </div>
    </div>
</section>