<section class="page-cta wo pv200">
    <div class="page-cta__content col-8-to-12">
        <h2 class="h2">
            Move to the inside lane with Inspiration.
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
        </p>
        <a class="button button--line" href="/">Learn more</a>
    </div>
</section>

<section class="page-cta wo pv200">
    <div class="page-cta__content col-2-to-6">
        <h2 class="h2">
            Move to the inside lane with Inspiration.
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
        </p>
        <a class="button button--line" href="/">Learn more</a>
    </div>
</section>