<section class="single-testimonial pv100">
    <div class="wo pv200-p">
    {% for testimonial in site.testimonials %}
    {% assign testimonialURLsplit = testimonial.relative_path | split: '/' %}
    {% assign testimonialSlug = testimonialURLsplit[1]| remove: ".md" %}

    {% if testimonialSlug == include.block.select_testimonial %}
        <img src="{{ testimonial.image }}" alt="" class="col-3-to-5 m-col-1-to-3 s-col-1-to-5">
        <h3 class="h4 col-5-to-10 m-col-3-to-8 s-col-1-to-5">{{ testimonial.their_name }}</h3>
        <h4 class="h5 col-5-to-10 m-col-3-to-8 s-col-1-to-5">{{ testimonial.their_title }}</h4>
        <blockquote class="col-5-to-10 m-col-3-to-8 s-col-1-to-5">
            {{ testimonial.testimonial_text }}
        </blockquote>
    {% endif %}

    {% endfor %}
    </div>
</section>