<section class="team-section wo pv100">
    <h2 class="h1 pv100 team-section__header col-1-to-12 m-col-1-to-9 s-col-1-to-5 pv-small">
        {{ include.block.heading }}
    </h2>
    <div class="team-section__container col-1-to-13 m-col-1-to-11 s-col-1-to-5 flex-wo">
    {% for teamMember in include.block.team_member %}
        <div class="team-section__container__team__member">
            <img aria-hidden="true" src="{{ teamMember.image }}" alt="">
            <h3 class="h4">
                {{ teamMember.name }}
            </h3>
            <h4 class="h5">{{ teamMember.job_title }}</h4>
            <a href="{{ teamMember.link }}">
                <img src="/assets/images/linkedin.png" alt="LinkedIn">
            </a>
        </div>
    {% endfor %}
    </div>
</section>