<section class="three-stats wo pv100">
    <div class="col-2-to-2 m-col-1-to-9 s-col-1-to-5">
        <div class="three-stats__stat">
            <h2>{{ include.block.stat_one_num }}</h2>
            <p>{{ include.block.stat_one_text }}</p>
        </div>
        <div class="three-stats__stat">
            <h2>{{ include.block.stat_two_num }}</h2>
            <p>{{ include.block.stat_two_text }}</p>
        </div>
        <div class="three-stats__stat">
            <h2>{{ include.block.stat_three_num }}</h2>
            <p>{{ include.block.stat_three_text }}</p>
        </div>
    </div>
</section>
