@media only screen and (min-width: 1100px) {}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
    body {
        font-size: 56%;
    }

    .pv {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .pv100,
    .wo.pv100 {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .pv200,
    .wo.pv200 {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .pv200-p {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .main-header {
        .main-header__nav>ul>li>a {
            margin: 0 15px;
        }

        .main-header__logo-area {

            img {
                width: 200px;
                max-width: 100%;
            }
        }
    }

    .home-hero .home-hero__content {
        margin: 0 20px;
    }

    .home-latest-news .home-latest-news__article .h5 {
        font-size: 300%;
    }

    .category-container {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 62%;
    }

    .pv {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pv100,
    .wo.pv100 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pv200,
    .wo.pv200 {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .pv200-p {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    // ————————————————————————————————————————— 
    // typography
    // —————————————————————————————————————————
    p,
    li,
    blockquote,
    input,
    textarea,
    .label {
        font-size: 160%;
        line-height: 150%;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    // ————————————————————————————— headings

    .home-intro .home-intro__stat h3 {
        font-size: 800%;
    }

    .home-hero  .home-hero__content h1,
    .h1 {
        color: $offWhite;
        font-size: 500%;
        line-height: 110%;
    }

    .home-hero  .home-hero__content h1 {
        color: $blue;
        margin-bottom: 0;
    }

    .cta h2,
    .general-content h2,
    .h2 {
        font-size: 400%;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .home-intro .home-intro__stat p,
    .general-content h3,
    .h3 {
        font-size: 300%;
        line-height: 110%;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .home-latest-news .home-latest-news__article .h5 {
        font-size: 250%;
    }

    .general-content h4,
    .h4 {
        font-size: 200%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .general-content h5,
    .general-content blockquote p,
    .large,
    .h5 {
        font-size: 170%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .general-content h6,
    .h6,
    .eyebrow {
        text-transform: uppercase;
        font-size: 150%;
    }

    // ————————————————————————————————————————— 
    // buttons
    // —————————————————————————————————————————

    .button {
        font-size: 150%;
        line-height: 100%;
    }

    .button--round {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        width: 130px;
        padding: 30px;
        text-align: center;
        line-height: 1.5;
        color: $offWhite !important;
        transition: all 600ms $easing;
        border: 1px solid transparent;
        border-radius: 999999px;

        &:after {
            content: '';
            @include background-image('/../assets/images/green-circle-button-bg.svg');
            height: 130px;
            width: 130px;
            padding: 30px;
            position: absolute;
            transition: all 600ms $easing;
        }

        &:hover {
            color: $bluePastel !important;
            border: 1px solid $green;

            &:after {
                transform: scale(1.2);
            }
        }

    }

    .button--line {
        color: $greenLighter;
        transition: all 600ms $easing;

        &:after {
            display: block;
            content: '';
            background-image: url('/../assets/images/btn-line.svg');
            height: 2px;
            width: 120%;
            margin-top: 15px;
            cursor: default;
            transition: all 600ms $easing;
        }

        &:hover {
            padding-left: 20px;

            &:after {
                margin-left: -20px;
            }
        }
    }

    .home-hero__content__button {
        margin-top: 40px;
        font-size: 280%;
        margin-left: 34px;

        &:before {
            height: 85px;
            width: 85px;
            top: -103%;
            left: -25%;
        }

        &:after {
            height: 85px;
            width: 85px;
            top: -103%;
            left: -25%;
        }
    }

    // ————————————————————————————————————————— 
    // page stuff
    // —————————————————————————————————————————

    .home-hero {
        height: auto;

        .home-hero__content {
            margin: 0;
        }

        .home-hero__image {
            position: static;
            width: 100vw;
            height: 50vh;
            margin-top: 70px;
            margin-left: -20px;
        }
    }

    .main-header .main-header__nav.main-header__nav--sticky .main-header__nav__icon {
        left: 20px;
        top: 12px;   
    }

    .home-intro > .button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        &:before {
            margin-top: 260px;
            height: 50px;
        }
    }

    .home-intro .home-intro__stat,
    .home-intro .home-intro__stat * {
        text-align: center;
        margin: 0 auto !important;
        padding-top: 20px;

        p {
            margin-top: 0 !important;
            max-width: 80%;
        }
    }

    .home-intro .home-intro__stat:nth-child(4) {
        margin-top: 100px !important;

        &:after {
            display: none;
        }
    }

    .home-testimonials .home-testimonials__slider {
        margin-left: 20px;

        .slick-slide>div {
            width: calc(100vw - 35px);

            >div {
                padding: 30px;
            }
        }

        button.slick-arrow {
            position: static;
            height: 44px !important;
            width: 44px !important;
            padding: 6px !important;
            display: inline-block;
            margin-right: 10px;

            span {
                height: 32px !important;
                width: 32px !important;
            }

            &.slick-prev span {
                background-image: url('/../assets/images/left-arrow-mobile.svg');
            }

            &.slick-next span {
                background-image: url('/../assets/images/right-arrow-mobile.svg');
            }

        }
    }

    .home-latest-news {
        h2 {
            margin-bottom: 6px;
        }

        > .button {
            order: 5;
            margin-top: 30px;
            margin-left: 30px;

            &:before {
                right: calc(-44vw - 40px);
                width: 44vw;
            }
        }

        .home-latest-news__article {
            padding: 30px;
            margin-top: 20px;
        }
    }

    .cta {
        border-radius: 100px;

        >div {
            margin-top: 80px !important;
            margin-bottom: 80px !important;

            >div {
                bottom: -90px;
                padding: 30px;
            }
        }

        h2 {
            max-width: 85%;
        }
    }

    .main-footer .main-footer__logo img {
        width: 160px;
    }
}

// ------------------------------------------------------------------
// hamburger navigation
// ------------------------------------------------------------------
// full
@media only screen and (min-width: 830px) {
    .main-header .main-header__nav>div {

        .main-header__nav--utility-nav a,
        >ul>li>a {
            display: inline-block;
            font-family: $fraktionSans;
            font-size: 170%;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.05em;
            color: $offWhite;
            text-transform: uppercase;
            margin: 0 25px;
            position: relative;
            transition: all 300ms $easing;

            &:not(.main-header__nav__link--careers):not(.main-header__nav__link--login):before {
                content: '';
                background-image: url('/../assets/images/active-52px-left.svg');
                width: 20px;
                height: 54px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 21px 57px;
                position: absolute;
                top: -20px;
                left: -20px;
                transition: all 300ms $easing;
                opacity: 0;
            }

            &:not(.main-header__nav__link--careers):not(.main-header__nav__link--login):after {
                content: '';
                background-image: url('/../assets/images/active-52px-right.svg');
                width: 20px;
                height: 54px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 21px 57px;
                position: absolute;
                top: -20px;
                right: -20px;
                background-position: right top;
                transition: all 300ms $easing;
                opacity: 0;
            }
        }

        >ul>li ul {
            display: none;
            position: absolute;
            flex-direction: column;
            padding-top: 18px;

            >li {
                padding: 10px 0;
                background-color: $navyLight;
                border-left: 1px solid $navyGrey;
                border-right: 1px solid $navyGrey;

                >a {
                    display: inline-block;
                    font-family: $fraktionSans;
                    font-size: 170%;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: 0.05em;
                    color: $offWhite;
                    margin: 0 25px;
                    transition: all 300ms $easing;
                }
            }

            >li:first-of-type {
                padding-top: 20px;
            }

            >li:last-of-type {
                padding-bottom: 20px;
                border-bottom: 1px solid $navyGrey;
            }
        }

        li:focus-within,
        li:hover {
            >a {
                color: $bluePastel;

                &:before,
                &.active:before,
                &:after,
                &.active:after {
                    opacity: 1 !important;
                }
            }

            >ul {
                display: flex;
            }
        }
    }

    #navToggle {
        display: none;
    }
}

// hamburger
@media only screen and (max-width: 830px) {
    .nav-toggle {
        position: absolute;
        right: 20px;
        top: 16px;
        z-index: 1234567;
        border: none;

        &:after {
            content: '';
            background: url("/../assets/images/mobile-nav-circle.svg") no-repeat center;
            background-size: contain;
            height: 85px;
            width: 85px;
            position: absolute;
            transition: all 600ms cubic-bezier(0.83, 0, 0.17, 1);
            top: -30px;
            left: -22px;
        }

        .nav-toggle__close {
            display: none;
        }
    }

    .main-header {
        .main-header__nav {
            height: 52px;

            >div {
                position: absolute;
                z-index: 123456;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                background-color: $navyLight;
                padding: 20px;

                >ul {
                    width: 100%;
                    display: grid;
                    grid-auto-flow: dense;
                    grid-template-columns: 1fr 1fr;
                    padding-top: 40px;

                    >li {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;

                        &.main-header__nav__has-children {
                            grid-row: span 2;
                        }

                        >a {
                            font-size: 200%;
                            line-height: 1;
                            text-transform: uppercase;
                            margin-top: 30px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid $offWhite;
                            margin-bottom: 5px;
                            width: 85%;
                        }

                        >ul {
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;

                            >li>a {
                                display: inline-block;
                                font-size: 170%;
                                line-height: 1;
                                margin: 10px 0;
                            }
                        }
                    }
                }

                .main-header__nav--utility-nav {
                    position: static;
                    display: flex;
                    flex-direction: column;
                    margin-left: calc(50% + 33px);
                    align-items: start;

                    a {
                        font-size: 170%;
                        line-height: 1;
                        margin: 15px 0;
                    }
                }
            }
        }

        .main-header__logo-area {
            margin: 0;
            margin-left: 20px;
            margin-top: 16px;
            position: relative;
            z-index: 12345678;

            img {
                max-width: 120px;
                width: 100%;
            }
        }
    }

    #mainNav>div {
        display: none;
    }

    .main-header .main-header__nav--sticky > div {
        top: -26px;
        left: -25px;
    }

    #mainNav>div.is-active {
        display: block;
    }
}