--- 
# MOB 2020 Main Stylesheet 
--- 

// ————————————————————————————————————————— 
// FONTS
// —————————————————————————————————————————
@font-face {
    font-family: 'Fraktion Sans';
    src: url('../fonts/FraktionSans-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/FraktionSans-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/FraktionSans-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/FraktionSans-Regular.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraktion Sans';
    src: url('../fonts/FraktionSans-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/FraktionSans-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/FraktionSans-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/FraktionSans-Bold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue World';
    src: url('../fonts/NeueWorld-SemiExtendedUltralight.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/NeueWorld-SemiExtendedUltralight.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/NeueWorld-SemiExtendedUltralight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/NeueWorld-SemiExtendedUltralight.woff') format('woff');
    /* Pretty Modern Browsers */
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}


// ————————————————————————————————————————— 
// VARIABLES: for partials
// ————————————————————————————————————————— 
// for layout
$column-count: 12;
$column-count-m: 8;
$column-count-s: 4;
$grid-width: 1920;
$column-margin: 20;

// ————————————————————————————————————————— 
// IMPORTS 
// ————————————————————————————————————————— 
// these are partials
// init for mob theme
@import "init";
// grid and base layout classes
@import "layout";


// ————————————————————————————————————————— c
// VARIABLES: for base
// ————————————————————————————————————————— 
$headerheight: 52px;
$fullbrowserheight: calc(87vh - 152px);

// color
$navyDarker: #030B16;
$navy: #181D28;
$navyLighter: #252F40;
$navyLight: #40485B;
$navyGrey: #65748C;
//
$blueDark: #003784;
$blueDarker: #0053B6;
$blue: #057ADC;
$blueLighter:#00A7F1;
$blueLight: #62CDFC;
$bluePastel: #B3EBFF;
//
$greenDark: #00660C;
$greenDarker: #009516;
$green: #13C14A;
$greenLighter:#00DB5D;
$greenLight: #52E790;
$greenPastel: #A2F3BE;
// 
$redDark: #870020;
$redDarker: #BB0022;
$red: #DF002E;
$redLighter:#FC4254;
$redLight: #FF738E;
$redPastel: #FFB6CB;
// 
$offWhite: #EEEEF0;
$grey: #CED0D7;
$darkGrey: #ADB3BE;
$offBlack: #040B15;

// easings
$easing: cubic-bezier(0.83, 0, 0.17, 1);

// fonts
$fraktionSans: 'Fraktion Sans',
sans-serif;
$neueWorld: 'Neue World',
serif;


// ————————————————————————————————————————— 
// M I X I N S
// ————————————————————————————————————————— 
// @include background-image("image.jpg");
@mixin background-image($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}

// @include background-fill();
@mixin background-fill() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ————————————————————————————————————————— 
// S T A T E S
// ————————————————————————————————————————— 
::selection {
    background: rgba(252, 67, 54, 0.5);
}

::-moz-selection {
    background: rgba(252, 67, 54, 0.5);
}

.keyboard-focus :focus {
    outline: 2px solid white;
    border-radius: 5px;
}

// skip link defaults
#skipLink {
    padding: 20px 10px 11px 10px;
    display: inline-block;
    position: absolute;
    z-index: 123456789;
    background-color: white;
    top: -200px;
    left: 20px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    transition: .4s all $easing;
    color: $offBlack !important;
    font-size: 200%;

    &:focus {
        top: 0;
    }
}



// ————————————————————————————————————————— 
// core styles & classes
// ————————————————————————————————————————— 

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $navy !important;
}

body,
input,
textarea,
radio,
checkbox,
.strip {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
}

.post {
    margin: 0 50px;

    .button--round {
        margin: auto;
    }

    .general-content:not(.general-content--2-col) h2::before,
    .general-content:not(.general-content--2-col) h3::before {
        display: none;
    }
}

/* Fixes potential theme css conflict. */
.acf-map {
    width: 100%;
    height: 100vh;l

    img {
        max-width: inherit !important;
    }
}

li p,
p .button {
    font-size: 100%;
}

.pv {
    margin-top: 50px;
    margin-bottom: 50px;
}

.pv100,
.wo.pv100,
.h1.pv100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.wo.page-header__intro.pv100{
    margin-bottom: 0px;
}
form.wo.pv100{
    margin-top: 20px;
}
.team-section.wo.pv100{
    margin-top: 50px;
}

.pv200,
.wo.pv200 {
    margin-top: 200px;
    margin-bottom: 200px;
}
.wo.news-feed.pv200{
    margin-bottom: 100px;
}

.pv200-p {
    padding-top: 200px;
    padding-bottom: 200px;
}

.page-header--general {
    padding-bottom: 50px;
}


// ————————————————————————————————————————— 
// page transitions
// —————————————————————————————————————————
.once-transition {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    // display is set with js
    justify-content: center;
    align-items: center;
    z-index: 123456789;

    .once-transition__background {
        height: 500vh;
        width: 500vh;
        background-color: transparent;
        border: $navy 250vh solid;
        border-radius: 100%;
        position: absolute;
    }

    .once-transition__bar {
        position: relative;
        z-index: 1;

        .once-transition__bar__progress {
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            z-index: 2;
            background-color: $navy;
            transform: skew(-7.4deg);
        }
    }
}


// ————————————————————————————————————————— 
// header
// —————————————————————————————————————————
.main-header {
    margin: 0 !important;
    width: 100%;
    overflow: visible;

    .main-header__logo-area {
        margin: 120px 50px 0 50px;

        img {
            width: 13vw;
        }
    }

    .main-header__nav {
        background-color: $navyLight;
        margin: 0 !important;
        border: none;
        border-bottom: 1px solid $navyGrey;
        padding: 17px 25px;
        transition: opacity 300ms $easing;
        position: absolute;
        width: 100%;
        z-index: 1234567;
        opacity: 1;

        ul,
        li {
            display: inline-block;
            font-size: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .main-header__nav__icon {
        display: none;
    }

    .main-header__nav.main-header__nav--sticky {
        position: fixed;
        margin: 25px !important;
        padding-left: 100px;
        width: calc(100% - 50px);
        opacity: 1 !important;
        border: 1px solid $navyGrey;

        .main-header__nav__icon {
            display: block;
            position: absolute;
            left: 50px;
            top: 13px;
        }
    }

    .main-header__nav.main-header__nav--zero {
        opacity: 0;
    }

    .main-header__nav--utility-nav {
        position: absolute;
        right: 25px;
        top: 17px;

        a {
            display: inline-block;
            position: relative;

            &:before {
                content: '';
                @include background-image('/../assets/images/careers-icon.svg');
                position: absolute;
            }
        }

        .main-header__nav__link--careers:before {
            @include background-image('/../assets/images/careers-icon.svg');
            height: 17px;
            width: 18px;
            left: -32px;
            top: 1px;
        }

        .main-header__nav__link--login:before {
            @include background-image('/../assets/images/login-icon.svg');
            height: 13px;
            width: 24px;
            left: -34px;
            top: 4px;
        }
    }
}

main {
    margin-top: 100px;
    // all content had too little space before the footer
    margin-bottom: 100px;
}

// ————————————————————————————————————————— 
// typography
// —————————————————————————————————————————
.white {

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: $offWhite;
    }
}

p,
li,
a,
input,
textarea,
.label,
.home-testimonials blockquote,
.single-testimonial blockquote {
    margin: 0;
    padding: 0;
    color: $offWhite;
    font-family: $fraktionSans;
    font-weight: 400;
}

p,
li,
input,
textarea,
.label,
.home-testimonials blockquote,
.single-testimonial blockquote {
    font-size: 200%;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    margin-top: 10px;
}

b,
strong {
    font-weight: 600;
}

.main-header__nav>ul>li ul li a:hover,
a {
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: 7px;
}

p.small {
    font-size: 140%;
}

// ————————————————————————————— headings

.h1 {
    color: $offWhite;
    font-size: 800%;
    line-height: 120%;
    margin: 0;
    padding: 0;
    font-family: $neueWorld;
}

.general-content h2,
.h2 {
    font-size: 600%;
    line-height: 110%;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 20px;
    color: $blueLighter;
    font-family: $neueWorld;
}

.h3 {
    font-size: 450%;
    line-height: 150%;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0;
    color: $blueLighter;
    font-family: $neueWorld;
}

.general-content h3,
.h4 {
    color: $offWhite;
    font-family: $fraktionSans;
    font-size: 270%;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.general-content h4,
.general-content blockquote p,
.large,
.h5 {
    font-family: $fraktionSans;
    color: $offWhite;
    font-size: 240%;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.general-content blockquote p {
    color: $blueLight;
}

.general-content h5,
.general-content h6,
.h6,
.eyebrow {
    font-family: $fraktionSans;
    color: $offWhite;
    text-transform: uppercase;
    font-size: 200%;
    line-height: 100%;
    letter-spacing: 0.07em;
}

// ————————————————————————————— lists

ul {
    list-style-type: disc;
}

ul ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

li li {
    font-size: 100%;
}

// list items with purely links were bahaving weird as inline-block
ul li a{
    display: block;
}

iframe {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.cms-embed {
    width: 130%;
    margin-left: -15%;
    margin-top: 100px;
    margin-bottom: 60px;
    display: inline-block;
}

.cms-embed,
.youtube-embed__embed {
    padding: $column-margin+px;
    // border: dashed 1px $blueDarker;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230053B6FF' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

// ————————————————————————————————————————— 
// buttons
// —————————————————————————————————————————
a {
    display: inline-block;
}

.button {
    display: block;
    background-color: transparent;
    border: none;
    font-family: $fraktionSans;
    font-size: 200%;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: $bluePastel;
    margin-bottom: 0;
}

.button--round {
    margin-top: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    padding: 30px;
    text-align: center;
    line-height: 1.5;
    color: $offWhite !important;
    transition: all 600ms $easing;
    border: 1px solid transparent;
    border-radius: 999999px;

    &:after {
        position: absolute;
        transform-origin: center center;
        content: '';
        @include background-image('/../assets/images/green-circle-button-bg.svg');
        height: 180px;
        width: 180px;
        padding: 30px;
        transition: all 600ms $easing;
    }

    &:hover {
        color: $bluePastel !important;
        border: 1px solid $green;

        &:after {
            transform: scale(1.2);
        }
    }

}

.button--line {
    color: $greenLighter;
    transition: all 600ms $easing;

    &:after {
        display: block;
        content: '';
        background-image: url('/../assets/images/btn-line.svg');
        height: 2px;
        width: 120%;
        margin-top: 15px;
        cursor: default;
        transition: all 600ms $easing;
    }

    &:hover {
        padding-left: 20px;

        &:after {
            margin-left: -20px;
        }
    }
}

.home-hero__content__button {
    display: inline-block;
    margin-top: 100px;
    font-family: $neueWorld;
    font-size: 400%;
    line-height: 100%;
    text-decoration: none;
    position: relative;
    transition: all 600ms $easing;

    &:before {
        content: '';
        @include background-image('/../assets/images/home-buttong-bg.svg');
        display: block;
        position: absolute;
        height: 138px;
        width: 138px;
        top: -120%;
        left: -25%;
    }

    &:after {
        content: '';
        border: 1px solid transparent;
        border-radius: 9999px;
        display: block;
        position: absolute;
        height: 138px;
        width: 138px;
        top: -120%;
        left: -25%;
        transition: all 600ms $easing;
    }

    &:hover {
        color: $bluePastel !important;

        &:after {
            border: 1px solid $green;
            transform: scale(0.8);
        }
    }
}

.pagination {
    overflow: visible; 
    margin-top: -100px !important;
    padding-top: 0;

    .button {
        margin-top: 0;
    }
}


// ————————————————————————————————————————— 
// home page
// —————————————————————————————————————————
.home-hero {
    position: static;
    overflow: visible;
    height: $fullbrowserheight;

    .home-hero__content {
        margin: 0 80px;
        align-self: center;

        h1 {
            font-family: $neueWorld;
            font-size: 800%;
            line-height: 110%;
            margin-bottom: 50px;
            color: $blue;
            margin-top: -50px;
        }
    }

    .home-hero__image {
        position: absolute;
        top: 52px;
        right: 0;
        height: calc(100vh - 52px);
        width: 50vw;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.home-testimonials {
    .home-testimonials__slider {
        margin-left: 50px;

        h3,
        h4 {
            margin: 0;
        }

        img {
            height: 160px;
            width: 130px;
            border-radius: 999999px;
            margin-bottom: 30px;
        }

        button.slick-arrow {
            position: absolute;
            top: -80px;
            right: 0;
            left: auto;

            &.slick-prev {
                right: calc(20vw + 50px + 30px);
                transition: all 300ms $easing;

                >span {
                    transition: all 300ms $easing;
                    @include background-image('/../assets/images/left-arrow.svg');
                    height: 50px;
                    width: 50px;

                    &:before {
                        display: none;
                    }
                }
            }

            &.slick-next {
                right: calc(20vw);
                transition: all 300ms $easing;

                >span {
                    transition: all 300ms $easing;
                    @include background-image('/../assets/images/right-arrow.svg');
                    height: 50px;
                    width: 50px;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .slick-next .slick-next-icon,
        .slick-next .slick-prev-icon,
        .slick-prev .slick-next-icon,
        .slick-prev .slick-prev-icon {
            color: $green;
        }

        .slick-slide {

            >div {
                width: calc(33vw - 35px);

                >div {
                    background-color: $navyDarker;
                    padding: 50px;
                    border-radius: 50px;
                }
            }
        }
    }
}

.single-testimonial,
.home-testimonials {
    blockquote:before {
        content: '“';
        margin-left: -0.3em;
    }

    blockquote:after {
        content: '”';
    }
}

.home-latest-news {
    overflow: visible;

    >.button {
        margin-top: -60px;
        position: relative;
        z-index: 12;

        &:before {
            content: '';
            height: 1px;
            width: 30vw;
            display: block;
            background-color: #057ADC;
            position: absolute;
            right: calc(-30vw - 50px);
        }
    }

    .home-latest-news__article {
        background-color: $navyLight;
        border-radius: 50px;
        padding: 40px;
        overflow: hidden;
        text-decoration: none;
        margin-top: -20px;
        transition: all 600ms $easing;
        border: 1px solid transparent;

        .h5 {
            padding-bottom: 60px;
            font-size: 320%;
            font-weight: 600;
            transition: all 600ms $easing;
        }

        &:hover {
            border: 1px solid $navyGrey;

            .h5 {
                color: $bluePastel;
            }
        }
    }
}

// ————————————————————————————————————————— 
// contact page
// —————————————————————————————————————————
.contact-form {
    form {
        // https://kovart.github.io/dashed-border-generator/
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50' ry='50' stroke='%2365748CFF' stroke-width='4' stroke-dasharray='2%2c10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 50px;
        padding-top: 7%;
        padding-bottom: 30px;
        overflow: visible;

        label {
            margin: 30px 0;
            display: block;
        }

        input {
            width: 100%;
            border-bottom: 1px solid $grey;
        }

        textarea {
            display: block;
            width: 100%;
            height: 10em;
            border: 1px solid $grey;
            padding: 20px;
        }

        button {
            margin: 50px auto -60px auto;

            &:after {
                background: none;
                border: 1px solid $green;
                border-radius: 99999px;
            }
        }
    }
}

// ————————————————————————————————————————— 
// layers
// —————————————————————————————————————————
.page-header {
    overflow: visible;

    &.page-header--top-level {
        height: $fullbrowserheight;
        align-content: center;

        >div {
            background-color: $navy;
            margin-top: -80px !important;
            padding: 70px 20px 70px 0;
            border-radius: 100px;
        }

        h1 {
            margin-bottom: 20px;
        }

        .page-header--top-level__image {
            height: 160%;
            max-height: 900px;
            width: auto;
            display: block;
            position: absolute;
            z-index: -1;
            top: -30%;
            right: -15%;
        }
    }

    &.page-header--post {
        h1 {
            color: $offWhite;
            margin-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px dashed $green;
        }

        p.eyebrow {
            margin-top: 0;

            &::after {
                background: none;
            }
        }        
    }

    &.page-header--case-study {
        margin-top: 0 !important;

        img {
            max-width: 250px;
            margin-top: 10px;
        }
    }

    p {
        position: relative;
    }

    p:after {
        content: '';
        @include background-image('/../assets/images/red-arrow-down.svg');
        height: 30px;
        width: 39px;
        position: absolute;
        bottom: -8vw;
        left: 0;
        display: inline-block;
    }
}
.subpage-top-level-header .page-header.page-header--top-level .page-header--top-level__image{
    height: 120%;
    top: -10%;
    width: 80%;
}

ul.news-category-loop {
    margin: 0;
    padding: 0;

    li.eyebrow {
        list-style: none;
        display: inline-block;
        color: $green;
        margin: 0;
        padding: 0;

        &:not(:last-child) {
            margin-right: 20px;
            padding-bottom: 20px;
        }

        a {
            color: $green;
        }
    }
}

.home-intro {
    overflow: visible;

    >.button:before {
        content: '';
        height: 80px;
        width: 1px;
        display: block;
        background-color: #057ADC;
        position: absolute;
        bottom: -110px;
    }

    .home-intro__stat {
        margin-left: 30px;
        margin-bottom: 0px;

        h3 {
            font-family: $neueWorld;
            font-size: 1200%;
            line-height: 1;
            color: $blue;
            margin: 0;
        }

        p {
            font-family: $neueWorld;
            color: $offWhite;
            font-size: 500%;
            line-height: 1;
        }

        &:nth-child(4):after {
            content: '';
            @include background-image('/../assets/images/stats-line-decoration.svg');
            height: 181px;
            width: 1234px;
            display: block;
            position: absolute;
            margin-top: 19px;
            margin-left: 89px;
        }
    }
}

.cta {
    border: 1px solid $blue;
    border-radius: 200px;
    overflow: visible;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            text-align: center;

        }

        >div {
            background-color: $navy;
            position: absolute;
            bottom: -140px;
            padding: 50px;
            border-radius: 9999999px;

            a {
                margin: 0;
            }
        }
    }
}

.general-content {
    overflow: visible;

    &:not(.general-content--2-col) {

        h2 {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -50px;
                height: 10vw;
                width: 1px;
                background-color: $green;
            }
        }
    }

    ul li::marker {
        color: $navyGrey;
    }

    &.general-content--2-col {
        .col-2-to-7 {
            margin-right: 50px;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 100%;
                display: block;
                background-color: $redDark;
                position: absolute;
                right: -50px;
                top: 0;
                bottom: 0;
            }
        }

        .col-7-to-12 {
            margin-left: 50px;
        }
    }
}

.full-w-image {
    >div {
        img {
            border-radius: 50px;
            max-height: 90vh;
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }

        p {
            color: $bluePastel; 
            margin-left: 40px;
            margin-top: 20px;
            display: block;
        }
    }
}

.page-cta {
    align-items: center;

    .button {
        margin-top: 50px;
    }
}

.customers-section {
    background-color: $navyLight;
    margin-left: 0;
    margin-right: 0;
    padding-top: 135px;
    padding-bottom: 135px;

    .customers-section__list {
        list-style-type: none;
        border-left: 1px solid $red;
    }

    h2 {
        color: $bluePastel;
    }

    li {
        color: $offWhite;
        text-decoration: none;
    }
}

.team-section {
    .team-section__container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 80px;
        justify-content: space-between;
        text-align: center;

        .team-section__container__team__member {
            margin: 0 auto;
            text-align: center;

            img {
                height: 330px;
                width: 235px;
                border-radius: 290px;
                object-fit: cover;
            }

            h3.h4 {
                text-align: center;
                margin-top: 40px;
                margin-bottom: 10px;

                a {
                    color: $blue;
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                    text-align: center;
                }
                a::after{
                    content: '';
                    background-image: url(data:image/svg+xml;utf8;base64,IDxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNzY4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02NDAgNzY4SDEyOFYyNTcuOTA1OTk5OTk5OTk5OTVMMjU2IDI1NlYxMjhIMHY3NjhoNzY4VjU3Nkg2NDBWNzY4ek0zODQgMTI4bDEyOCAxMjhMMzIwIDQ0OGwxMjggMTI4IDE5Mi0xOTIgMTI4IDEyOFYxMjhIMzg0eiIgZmlsbD0iIzc4ODE4NyIvPjwvc3ZnPg==);
                    background-size: cover;
                    display: inline-block;
                    width: .6em;
                    height: .75em;
                    top: .05em;
                    position: relative;
                    left: .2em;
                    margin-right: .2em;
                    opacity: .4;
                }
                
            }

            h4.h5 {
                margin-top: 0px;
                text-align: center;
            }
        }
    }
}

.logo-section {
    background-color: $navyDarker;

    .logo-section__logos {
        margin-top: 50px;

        img {
            max-width: 200px;
            margin: 20px;
        }
    }
}

.three-stats {
    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%237DCDF9FF' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
        height: 100%;
        width: 110%;
        display: block;
        position: absolute;
        left: -5%;
    }

    .three-stats__stat {
        width: calc(33% - 80px);
        display: inline-block;
        margin: 0 40px;

        * {
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            font-family: "Neue World",serif;
            font-size: 1200%;
            line-height: 1;
            color: #057ADC;
            margin: 0;
        }
    }
}

.single-testimonial {
    background-color: $navyDarker;

    img {
        grid-row-end: 4;
        grid-row-start: 1;
        height: 260px;
        width: 217px;
        border-radius: 999999px;
        object-fit: cover;
    }

    .h4, .h5, blockquote {
        margin-left: 50px;
    }

    .h4 {
        align-self: end;
        margin-top: 0;
    }

    .h5 {
        margin-top: 0;
    }

    blockquote {
        align-self: start;
    }
}

// ————————————————————————————————————————— 
// news page / archive tempate
// —————————————————————————————————————————

.category-container {
    margin-top: 60px;
    list-style-type: none;

    a {
        color: $green;
        text-transform: uppercase;
    }
}

.news-feed {

    article {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-bottom: 100px;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 6 / 4;
            border-radius: 50px;
        }
    }

    .news-feed--grid {
        display: grid;
        grid-template-areas:
            "date category"
            "title title"
            "button button";
        grid-template-columns: 1fr 1fr;
        margin: 50px;
        width: 90%;

        .h2 {
            grid-area: title;
            margin-top: 20px;
        }

        p {
            grid-area: date;
        }

        p.eyebrow {
            margin: 0;
            padding: 0;
        }

        ul {
            grid-area: category;

            a {
                word-break: keep-all;
            }
        }

        .button.button--line {
            grid-area: button;
            width: 50%;

            a {
                color: $green;
                text-decoration: none;
            }
        }

        .button.button--line::after {
            left: -65%;
            position: relative;
        }
    }
}


// ————————————————————————————————————————— 
// footer
// —————————————————————————————————————————

.main-footer {
    background-color: $navyLight;
    padding-top: 60px;
    padding-bottom: 40px;

    .main-footer__logo {
        img {
            width: 13vw;
        }
    }

    .main-footer__nav {
        margin-bottom: 100px;

        h2 {
            margin-top: 0;
            padding-top: 0;

            a {
                color: $offWhite;
                font-weight: bold;
            }
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        a {
            text-decoration: none;
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
            transition: all 300ms $easing;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .main-footer__social-media {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        height: 100%;

        a {
            margin-top: 30px;
            transition: all 300ms $easing;
            border: 2px dotted transparent;
            border-radius: 99999px;
            padding: 5px;
            margin-left: -5px;

            &:hover {
                border: 2px dotted $bluePastel;
                padding: 10px;
                margin-left: -10px;
                margin-top: 20px;

                & img {
                    transform: scale(0.9);
                }
            }

            img {
                transition: all 300ms $easing;
            }
        }
    }

    .main-footer__nav a,
    .main-footer__small {
        font-family: $fraktionSans;
        font-size: 170%;
        line-height: 1.2;
        margin-bottom: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $grey;
        text-decoration: none;

        * {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
            transition: all 300ms $easing;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .main-footer__small{
        align-self: end;
    }

    .main-footer__nav .main-footer__links{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $offWhite;
    margin: 0;
    padding: 0;
    font-size: 180%;
    line-height: 1.2;
    padding: 10px;
}


// —————————————————————————————————————————
// IMPORTS
// —————————————————————————————————————————
// these are partials, must go in the _sass folder
@import "responsive.scss";