---
# MOB 2020 Main Stylesheet
---

// ————————————————————————————————————————— 
// VARIABLES: for partials
// ————————————————————————————————————————— 
// for layout
$column-count: 12; 
$column-count-m: 7;
$column-count-s: 4;
$grid-width: 1920; 
$column-margin: 20;

// ————————————————————————————————————————— 
// IMPORTS 
// ————————————————————————————————————————— 
// these are partials
// init for mob theme
@import "init";
// grid and base layout classes
@import "layout";


// ————————————————————————————————————————— 
// VARIABLES: for base
// ————————————————————————————————————————— 
$headerheight: 52px;
$fullbrowserheight: calc(87vh - 152px);

// color
$navyDarker: #030B16;
$navy: #181D28;
$navyLighter: #252F40;
$navyLight: #40485B;
$navyGrey: #65748C;
//
$blueDark: #003784;
$blueDarker: #0053B6;
$blue: #057ADC;
$blueLighter:#00A7F1;
$blueLight: #62CDFC;
$bluePastel: #B3EBFF;
//
$greenDark: #00660C;
$greenDarker: #009516;
$green: #13C14A;
$greenLighter:#00DB5D;
$greenLight: #52E790;
$greenPastel: #A2F3BE;
// 
$redDark: #870020;
$redDarker: #BB0022;
$red: #DF002E;
$redLighter:#FC4254;
$redLight: #FF738E;
$redPastel: #FFB6CB;
// 
$offWhite: #EEEEF0;
$grey: #CED0D7;
$darkGrey: #ADB3BE;
$offBlack: #040B15;

// easings
$easing: cubic-bezier(0.83, 0, 0.17, 1);

// fonts
$fraktionMono: 'Fraktion Sans', sans-serif;
$fraktionSans: 'Fraktion Sans', sans-serif;
$neueWorld: 'Neue World', serif;


// ————————————————————————————————————————— 
// M I X I N S
// ————————————————————————————————————————— 
// @include background-image("image.jpg");
@mixin background-image($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}

// @include background-fill();
@mixin background-fill() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// ————————————————————————————————————————— 
// S T A T E S
// ————————————————————————————————————————— 
::selection {
    background:rgba(252, 67, 54, 0.5);
}

::-moz-selection {
    background: rgba(252, 67, 54, 0.5);
}

.keyboard-focus :focus {
    outline: 2px solid blue;
}

// skip link defaults
#skipLink {
  padding: 20px 10px 11px 10px;
  display: inline-block;
  position: absolute;
  z-index: 123456789;
  background-color: white;
  top: -200px;
  left: 20px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 24px rgba(0,0,0,0.5);
  transition: .4s all $easing;
  &:focus {
    top: 0;
  }
}



// ————————————————————————————————————————— 
// core styles & classes
// ————————————————————————————————————————— 

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $navy !important;
}

body,
input,
textarea,
radio,
checkbox,
.strip {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
}

.pv {
    padding-top: 65px;
    padding-bottom: 65px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    embed,
    video,
    object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Fixes potential theme css conflict. */
.acf-map {
    width: 100%;
    height: 100vh;
    img {
        max-width: inherit !important;
    }
}

li p,
p .button {
    font-size: 100%;
}

.pv200,
.wo.pv200 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.pv100,
.wo.pv100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pv200-p {
    padding-top: 200px;
    padding-bottom: 200px;
}

.pv {
    margin-top: 50px;
    margin-bottom: 50px;
}



// ————————————————————————————————————————— 
// header
// —————————————————————————————————————————
.main-header {
    margin: 0 !important;

    .main-header__logo-area {
        margin: 50px 50px 0 50px;

        img {
            max-width: 13vw;
        }
    }

    .main-header__nav {
        background-color: $navyLight;
        margin: 0 !important;
        border-bottom: 1px solid $darkGrey;
        padding: 17px 25px;

        a {
            display: inline-block;
            font-family: $fraktionMono;
            font-size: 170%;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.05em;
            color: $offWhite;
            text-transform: uppercase;
            margin: 0 25px;
            position: relative;

            &.active:before {
                content: '';
                background-image: url('/../assets/images/active-52px-left.svg');
                width: 20px;
                height: 52px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 21px 57px;
                position: absolute;
                top: -18px;
                left: -20px;
            }

            &.active:after {
                content: '';
                background-image: url('/../assets/images/active-52px-right.svg');
                width: 20px;
                height: 52px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 21px 57px;
                position: absolute;
                top: -18px;
                right: -20px;
                background-position: right top;
            }
        }
    }

    .main-header__nav--utility-nav {
        position: absolute;
        right: 25px;
        top: 17px;

        a {
            display: inline-block;
            position: relative;

            &:before {
                content: '';
                @include background-image('/../assets/images/careers-icon.svg');
                position: absolute;
            }
        }

        .main-header__nav__link--careers:before {
            @include background-image('/../assets/images/careers-icon.svg');
            height: 17px;
            width: 18px;
            left: -32px;
            top: 1px;
        }
        .main-header__nav__link--login:before {
            @include background-image('/../assets/images/login-icon.svg');
            height: 13px;
            width: 24px;
            left: -34px;
            top: 4px;
        }
    }
}

main {
    margin-top: 100px;
}

// ————————————————————————————————————————— 
// typography
// —————————————————————————————————————————
.white {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: $offWhite;
    }
}

p,
li,
a,
blockquote,
input,
textarea,
.label {
    margin: 0;
    padding: 0;
    color: $offWhite;
    font-family: $fraktionSans;
}

p, 
li,
blockquote,
input,
textarea,
.label  {
    font-size: 200%;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    margin-top: 10px;
}

b,
strong {
    font-weight: 600;
}

a {
    text-decoration: underline;
}

p.small {
    font-size: 140%;
}

// ————————————————————————————— headings

.h1 {
    color: $offWhite;
    font-size: 1000%;
    line-height: 120%;
    margin: 0;
    padding: 0;
    font-family: $neueWorld;
}

.general-content h2,
.h2 {
    font-size: 600%;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
    color: $blueLighter;
    font-family: $neueWorld;
}

.general-content h3,
.h3 {
    font-size: 450%;
    line-height: 150%;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0;
    color: $blueLighter;
    font-family: $neueWorld;
}

.general-content h4,
.h4 {
    color: $offWhite;
    font-family: $fraktionSans;
    font-size: 270%;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.general-content h5,
.general-content blockquote p,
.large,
.h5 {
    font-family: $fraktionSans;
    color: $offWhite;
    font-size: 270%;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.general-content h6,
.h6,
.eyebrow {
    font-family: $fraktionSans;
    color: $offWhite;
    text-transform: uppercase;
    font-size: 200%;
    line-height: 100%;
    letter-spacing: 0.07em;
}

// ————————————————————————————— lists

ul {
    list-style-type: disc;
}

ul ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

li li {
    font-size: 100%;
}

iframe {
    width: 100%;
}

// ————————————————————————————————————————— 
// buttons
// —————————————————————————————————————————

.button {
    display: block;
    background-color: transparent;
    border: none;
    font-family: $fraktionSans;
    font-size: 230%;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: $bluePastel;
}

.button--round {
    @include background-image('/../assets/images/green-circle-button-bg.svg');
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    padding: 30px;
    text-align: center;
    line-height: 1.6;
    color: $offWhite !important;
}

.button--line {
    color: $grey;

    &:after {
        display: block;
        content: '';
        background-image: url('/../assets/images/btn-line.svg');
        height: 2px;
        width: 120%;
        margin-top: 15px;
        cursor: default;
    }
}

.home-hero__content__button {
    display: inline-block;
    margin-top: 100px;
    font-family: $neueWorld;
    font-size: 400%;
    line-height: 100%;
    text-decoration: none;
    position: relative;

    &:before {
        content: '';
        @include background-image('/../assets/images/home-buttong-bg.svg');
        display: block;
        position: absolute;
        height: 138px;
        width: 138px;
        top: -120%;
        left: -25%;
    }
}


// ————————————————————————————————————————— 
// home page
// —————————————————————————————————————————
.home-hero {
    position: static;
    height: $fullbrowserheight;

    .home-hero__content {
        margin: 0 80px;
        align-self: center;

        h1 {
            font-family: $neueWorld;
            font-size: 800%;
            line-height: 110%;
            margin-bottom: 50px;
            color: $blue;
            margin-top: -50px;
        }
    }

    .home-hero__image {
        position: absolute;
        top: 52px; 
        right: 0;
        height: calc(100vh - 52px);
        width: 50vw;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

.home-testimonials {
    .home-testimonials__slider {
        margin-left: 50px;

        h3, h4 {
            margin: 0;
        }

        img {
            height: 160px;
            width: 130px;
            border-radius: 999999px;
            margin-bottom: 30px;
        }

        blockquote:before {
            content: '“';
            margin-left: -0.3em;
        }
        blockquote:after {
            content: '”';
        }

        button.slick-arrow {
            position: absolute;
            top: -60px;
            right: 0;
            left: auto;

            &.slick-prev {
                right: 30vw;
            }

            &.slick-next {
                right: 20vw;
            }
        }

        

        .slick-next .slick-next-icon,
        .slick-next .slick-prev-icon,
        .slick-prev .slick-next-icon,
        .slick-prev .slick-prev-icon {
            color: $green;
        }

        .slick-slide {

            >div {
                width: calc(33vw - 35px);

                >div {
                    background-color: $navyDarker;
                    padding: 50px;
                    border-radius: 50px;
                }
            }
        }
    }
}

.home-latest-news {
    overflow: visible;

    > .button {
        margin-top: -60px;
    }

    .home-latest-news__article {
        background-color: $navyLight;
        border-radius: 50px;
        padding: 40px;
        overflow: hidden;
        text-decoration: none;

        .h5 {
            padding-bottom: 60px;
            font-size: 320%;
            font-weight: 600;
        }
    }
}

// ————————————————————————————————————————— 
// contact page
// —————————————————————————————————————————
.contact-form {
    form {
        // https://kovart.github.io/dashed-border-generator/
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50' ry='50' stroke='%2365748CFF' stroke-width='4' stroke-dasharray='2%2c10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 50px;
        padding-top: 7%;
        padding-bottom: 30px;

        label {
            margin: 30px 0;
            display: block;
        }
        input {
            width: 100%;
            border-bottom: 1px solid $grey;
        }
        textarea {
            display: block;
            width: 100%;
            height: 10em;
            border: 1px solid $grey;
            padding: 20px;
        }
        button {
            margin-top: 50px;
        }
    }
}

// ————————————————————————————————————————— 
// layers
// —————————————————————————————————————————
.page-header {
    overflow: visible;

    &.page-header--top-level {
        height: $fullbrowserheight;
        align-content: center;

        h1 {
            margin-top: -100px !important;
            margin-bottom: 20px;
        }
    }

    p {
        position: relative;
    }

    p:after {
        content: '';
        @include background-image('/../assets/images/red-arrow-down.svg');
        height: 30px;
        width: 39px;
        position: absolute;
        bottom: -100%;
        left: 0;
        display: inline-block;
    }
}

.home-intro__stat {
    h3 {
        font-family: $neueWorld;
        font-size: 1200%;
        line-height: 1;
        color: $blue;
        margin: 0;
    }

    p {
        font-family: $neueWorld;
        color: $offWhite;
        font-size: 500%;
        line-height: 1;
    }
}   

.cta {
    border: 1px solid $blue;
    border-radius: 200px;
    overflow: visible;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            text-align: center;
    
        }

        > div {
            background-color: $navy;
            position: absolute;
            bottom: -140px;
            padding: 50px;
            border-radius: 9999999px;

            a {
                margin: 0;
            }
        }
    }
}

.general-content {
    &:not(.general-content--2-col) {
        h2, h3 {
            position: relative;

            &:before  {
                content: '';
                position: absolute;
                top: 0;
                left: -50px;
                height: 10vw;
                width: 1px;
                background-color: $green;
            }
        }
    }

    ul li::marker {
        color: $navyGrey;
    }

    &.general-content--2-col {
        .col-2-to-7 {
            margin-right: 50px;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 100%;
                display: block;
                background-color: $redDark;
                position: absolute;
                right: -50px;
                top: 0;
                bottom: 0;
            }
        }

        .col-7-to-12 {
            margin-left: 50px;
        }
    }
}

.full-w-image {
    >div {
        border-radius: 50px;
        overflow: hidden;
        max-height: 90vh;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.page-cta {
    .button {
        margin-top: 50px;
    }
}

.logo-section {
    background-color: $navyDarker;

    .logo-section__logos {
        margin-top: 50px;
        img {
            max-width: 200px;
            margin: 20px;
        }
    }
}

// ————————————————————————————————————————— 
// news page / archive tempate
// —————————————————————————————————————————

.news-feed {
    .news-feed--grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30% 30%;

        >p, >div{
            width: 50%;
        }
    }
}


// ————————————————————————————————————————— 
// footer
// —————————————————————————————————————————

.main-footer {
    background-color: $navyLight;
    padding-top: 60px;
    padding-bottom: 40px;

    .main-footer__logo {
        img {
            width: 13vw;
        }
    }

    .main-footer__nav {
        margin-bottom: 100px;

        h2 a {
            color: $offWhite;
            font-weight: bold;
        }
        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .main-footer__nav a,
    .main-footer__small {
        font-family: $fraktionSans;
        font-size: 170%;
        line-height: 200%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $grey;
        text-decoration: none;

        * {
            text-decoration: none;
        }
    }
}

input{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $offWhite;
    margin: 0;
    padding: 0;
    font-size: 180%;
    line-height: 1.2;
    padding: 10px;
}


// —————————————————————————————————————————
// IMPORTS
// —————————————————————————————————————————
// these are partials, must go in the _sass folder
@import "responsive.scss";
