{% include head.html %}

<main data-barba="container" data-barba-namespace="page">

    {% if page.show_image_header %}
    {% include page-header-top-level.html %}
    {% else %}
    {% include page-header-general.html %}
    {% endif %}

	{% for block in page.page_blocks %}
    {% case block._id %}
        {% when 'general_content' %}
            {% include general-content.html block=block %}

        {% when 'full_w_image' %}
            {% include full-w-image.html block=block %}

        {% when 'youtube_embed' %}
            {% include youtube-embed.html block=block %}

        {% when 'two_col_list' %}
            {% include two-col-list.html block=block %}

        {% when 'team' %}
            {% include team.html block=block %}

        {% else %}
        <!-- else -->
    {% endcase %}
    {% endfor %}
    
</main>

{% include footer.html %}