{% include head.html %}

<main data-barba="container" data-barba-namespace="topLevelPage">
    {% include page-header-top-level.html %}

    {% for block in page.page_blocks %}
    {% case block._id %}
        {% when 'page_intro' %}
            {% include page-intro.html block=block %}

        {% when 'general_content' %}
            {% include general-content.html block=block %}

        {% when 'full_w_image' %}
            {% include full-w-image.html block=block %}

        {% when 'page_cta' %}
            {% include page-cta.html block=block %}

        {% when 'logo_section' %}
            {% include logo-section.html block=block %}

        {% when 'general_content_2_col' %}
            {% include general-content-2-col.html block=block %}

        {% when 'cta' %}
            {% include cta.html block=block %}

        {% when 'team' %}
            {% include team.html block=block %}

        {% else %}
        <!-- else -->
    {% endcase %}
    {% endfor %}
</main>

{% include footer.html %}